---
# Specify the list of Bethesda games that should be handled
games:
  - name: Skyrim SE
    # The installation path (containing the launch executable).
    path: C:/Program Files (x86)/Steam/steamapps/common/Skyrim Special Edition
    # Possible types are defined as the file names in lib/modsvaskr/games/*.rb
    type: skyrim_se
    # The executable to be launched to run the game.
    launch_exe: skse64_loader.exe
    # Next attributes are optional and can be omitted.
    # Minimum time the game takes to be launched, in second (defaults to 10)
    # min_launch_time_secs: 10
    # Interval in seconds between polling for tests statuses while the game is running (defaults to 5)
    # tests_poll_secs: 5
    # Period in seconds after which we consider the game is frozen if no test status has been updated (defaults to 300)
    # timeout_frozen_tests_secs: 300
    # Timeout between 2 game runs for the player to interrupt testing (defaults to 10)
    # timeout_interrupt_tests_secs: 10


# Path where xEdit is installed
xedit: C:/Programs/SSEEdit 4_0_3-164-4-0-3-1575326827

# Path where 7-Zip is installed
7zip: C:\Program Files\7-Zip

# Uncomment the auto_keys section to automate some key strokes in the menu (useful for automation).
# Possible keys that can be used:
# * Key symbols defined here: https://github.com/ruby/curses/blob/master/ext/curses/curses.c#L5550
# * KEY_ENTER
# * KEY_ESCAPE
# * Any printable character
# auto_keys:
#   - KEY_DOWN
#   - h
#   - KEY_ENTER
#   - KEY_ESCAPE
#   - KEY_ESCAPE

# Set no_prompt to true if you want to skip the pauses asking you to hit Enter to continue (useful for automation).
no_prompt: false
